.Steps {
	display: flex;
	flex-direction: column;
	gap: 2rem;
	align-items: center;

	/* justify-content: center; */
	height: 40rem;
	margin-top: 5rem;
}

.Steps > :nth-child(1) {
	font-size: 100px;
	text-transform: uppercase;
	color: orange;
}

.steps-con {
	display: flex;
	gap: 10rem;
}

.steps-num {
	display: flex;
	align-items: center;
	justify-content: center;
	color: white;
	background-color: orange;
	font-size: 100px;
	/* margin-top: 40px; */
	border-radius: 50%;
	width: 200px;
	height: 200px;
}

.outer-circle {
	display: flex;
	align-items: center;
	justify-content: center;
	border: 8px solid rgba(211, 209, 209, 0.479);
	border-radius: 50%;
	width: 250px;
	height: 250px;
}

.steps-main {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	/* width: 250px; */
	gap: 1rem;
}

.steps-main > :nth-child(2) {
	font-size: 30px;
}
