.About-hero {
	background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
		url("../../assets/aboutimg.png");
	width: 100%;
	height: 500px;
	object-fit: cover;
	background-position: center;
	background-size: cover;
	display: flex;
	flex-direction: column;
	gap: 6rem;
	padding: 1rem;
}

.a-hero-content {
	display: flex;
	flex-direction: column;
	width: 900px;
	height: 200px;
	top: 286px;
	left: 98px;
	gap: 1rem;
	margin-top: 13rem;
	margin-left: 23rem;
}

.a-hero-content > :nth-child(1) {
	text-transform: uppercase;
	color: #ffe605;
	font-size: 24px;
	font-weight: 700;
	line-height: 28.64px;
}
.a-hero-content > :nth-child(2) {
	text-transform: uppercase;
	color: white;
	font-size: 64px;
	font-weight: 700;
	line-height: 76.38px;
}
