.Offers {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	align-items: center;
	height: 48rem;
	padding: 0 rem;
}

.left-o {
	margin: 3rem;
	display: flex;
	gap: 2rem;
	padding-top: 1rem;
}

.left-o > span {
	display: flex;
	align-items: center;
	background-color: orange;
	padding: 1rem 1rem;
	border-radius: 15px;
	/* height: 10rem; */
}

.left-o > span > p {
	display: flex;
	align-items: center;
	padding: 1rem 1rem;
	border-radius: 50px;
	color: white;
	font-size: 20px;
	font-weight: bold;
}
img {
	width: 100px;
}

.offers-img {
	background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0.5));
	width: 100%;
}

.image-wrapper {
	position: relative;
	/* border: 1px solid red; */
	width: 50%;
}
.image-wrapper > :nth-child(2) {
	position: absolute;
	background-color: orange;
	width: 20rem;
	height: 5rem;
	color: white;
	font-weight: bold;
	font-size: 1.3rem;
	padding: 1rem 2rem;
	right: 10px;
	/* top: 20px; */
	bottom: -15px;
}
