.Header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	text-transform: uppercase;
	font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
	padding: 1rem 5rem;
	height: 6rem;
}

.logo {
	cursor: pointer;
	background-color: rgba(104, 103, 103, 0.199);
	padding: 0.5rem;
	border-radius: 10px;
}

.logo > :nth-child(1) {
	color: var(--darkBlue);
}
.logo > :nth-child(2) {
	color: orange;
}
.logo > :nth-child(3) {
	color: gray;
	font-size: 15px;
}

.header-nav {
	display: flex;
	font-size: smaller;
	justify-content: space-between;
	gap: 1rem;
	list-style: none;
	color: var(--darkBlue);
}

.header-nav > li:hover {
	transition: 0.5s;
}

.header-nav > li:hover {
	cursor: pointer;
	color: var(--lightOrange);
}
